body{
    background-color: rgb(231, 229, 241);
}
.container{
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.topic{
    font-size: 29px;
    font-weight: 600;
    color: rgb(29, 29, 73);
    
}
.message{
font-weight: 500;
}
.newstype{
    font-size: 32px;
    color: rgb(23, 6, 99);
    font-weight: 600;
    background-color: dodgerblue;
}

@media screen and (max-width: 768px) {
    
    .container{
        border-radius: 3px;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3px;
    }
    .topic{
        font-size: 29px;
        font-weight: 600;
        color: rgb(29, 29, 73);
    }
    .message{
    font-weight: 500;
    }
    .date{
    
    }
}